<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset_password.css') }}">
</head>
<body>
    <nav class="topnav">
        <a href="{{ url_for('main') }}"><h2>TaskMaster</h2></a>
        <a href="{{ url_for('profile') }}"><i class="fa-regular fa-circle-user"></i></a>
    </nav>

    <div class="container">
        <div class="reset-password-form">
            <h2>Reset Password</h2>
            <form action="{{ url_for('reset_password_token', token=request.view_args['token']) }}" method="POST">
                <div class="input-group">
                    <label for="password">New Password</label>
                    <input type="password" name="password" id="password" placeholder="Enter new password" required oninput="checkPasswordStrength()">
                    <div class="strength-meter" id="strength-meter"></div><br>
                    <label for="confirm_password">Repeat Password</label>
                    <input type="password" name="confirm_password" id="confirm_password" placeholder="Enter new password" required>
                </div>
                <button type="submit">Reset Password</button>
                <p>Do you want to login? <a href="{{ url_for('Login') }}">Sign In</a></p>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/reset_password.js') }}"></script>
</body>
</html>

